web/client/public/css
web/client/public/js
web/dashboard/static/css
web/dashboard/static/js
web/common/vendors
content/**
doc/**
docs/**
out/**
/node_modules
/npm-debug.log
/logs
/.*
!.env
!.bowerrc
!.gitignore
!.jsbeautifyrc
!.jshintrc
