.categories {

  i {
    &.circle {
      background-color: transparent;
      color: $secondary-text-color;
      font-size: 26px;
    }
  }

  .counter-panel {
    strong {
      font-weight: 800;
    }
  }
  .top-categories {
    padding: $card-padding;
    p {
      margin: $row-margin;
    }
    ul {
      li {
        font-weight: 400;
        margin: $row-margin;
      }
    }
  }
}
