@import url(web-fonts-url(('Ubuntu': ('700', '400', '300'))));

.ubuntu {
  &.light {
    @include font('Ubuntu', 300, normal);
  }

  &.normal {
    @include font('Ubuntu', 400, normal);
  }

  &.bold {
    @include font('Ubuntu', 700, normal);
  }
}

.title {
  font-weight: 400;
  font-size: 18px;
}

.description {
  @extend .uppercase;
  font-size: 12px;
}

.uppercase {
  text-transform: uppercase;
}

.list-header {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1.2rem 0 0.912rem 1rem;
}

.label-size {
  font-size: 1rem;
  display: block;
}
