.pois {
  .pois-list {
    .poi-item {
      p {
        font-size: 11px;
        color: #d4d4d4;

        .description {
          color: #9E9E9E;
        }
      }

      .star-rating {
        display: inline-block;
        vertical-align: text-top;

        i {
          font-size: 15px;
          color: $accent-color;
        }
      }
    }
  }

  .counter-panel {
    strong {
      font-weight: 800;
    }
  }

  .top-pois {
    padding: $card-padding;

    p {
      margin: $row-margin;
    }

    ul {
      li {
        font-weight: 400;
        margin: $row-margin;
      }
    }
  }
}
