aside {
  ul {
    &.dash-nav {
      border-radius: 0;
      top: $topbar-default-height;
      z-index: 1001;

      @include media('<=mobile') {
        top: $topbar-mini-height;
      }

      li {
        &.dash-nav-user{
          min-height: 85px !important;
          padding: 20px 10px 20px 72px !important;
        }

        &.dash-nav-menu {
          display: block;
          overflow: auto;
          padding: 0;
          position: relative;
          height: calc(100% - 128px);

          &:hover {
            background-color: inherit;
          }

          ul {
            &.dash-nav-menu-list {
              // height: $topbar-default-height * 8;

              li {
                &.active {
                    background-color: transparent;
                  i, span {
                    color: $accent-color;
                  }
                }
                &:hover {
                  background-color: $accent-color;
                  i, span {
                    color: $text-icons;
                  }
                }
              }
            }
          }
        }
      }

      &.rtl {
        left: inherit;
        right: 0;

        @include media('<=desktop') {
          transform: translateX(100%);
        };

        li {
          &.dash-nav-user {
            text-align: right;
            padding: 20px 72px 20px 10px !important;

            img {
              left: inherit !important;
              right: $col-margin;
            }
          }

          &.dash-nav-menu {
            ul {
              &.dash-nav-menu-list {
                li {
                  a {
                    i,span {
                      float: right;
                      margin-right: inherit;
                      margin-left: $col-margin;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  a {
    &.menu-collapse,
    &.menu-nano {
      display: inline-block;
      float: none;
      height: $topbar-mini-height;
      left: 0;
      line-height: 73px;
      position: fixed;
      padding: 0 $padding-medium;
      top: 0;
      z-index: 998;

      &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,.1);
      }

      i {
        color: $text-icons;
        font-size: 2rem;
      }

      @include media('>mobile') {
        height: $topbar-default-height;
        line-height: 80px;
      };
    }

    &.rtl {
      left: inherit;
      right: 0;
    }
  }
}
