.tabs {
  &.edit-tab {

    .indicator {
      background-color: $accent-color;
    }

    li {
      a,
      a:hover {
        color: $divider-color;
        cursor: pointer;
        
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}
