header {
  .dash-topbar {
    nav {
      form {
        display: inline-block;
        margin-left: 68px; // Value of the menu icon width

        .input-field {
          i {
            &.active {
              color: $accent-color;
            }
            &.active~#search {
              border-color: $text-icons;
            }
          }
        }

        input#search {
          padding: 0;
          border-bottom: 1px solid transparent;
        }
      }

      i {
        outline: none;
        color: $text-icons;
      }
    }
  }
}
