header {
  .dash-topbar {
    nav {
      .nav-wrapper {
        i {
          outline: none;
          color: $text-icons;
        }

        ul {
          float: right !important;
          line-height: 38px;

          @include media('>mobile') {
            line-height: 44px;
          };

          &.left {
            margin-left: 68px; // Value of the menu icon width
          }

          &.settings {
            min-width: 148px;

            li {
              &.divider {
                background-color: rgba(224, 224, 224, 1);
              }

              &:not(.divider) {
                display: block;

                a {
                  color: $secondary-text-color;

                  i {
                    color: $secondary-text-color;
                    float: left;
                    margin-right: $col-padding;
                  }
                }
              }
            }
          }
        }

        &.rtl {
          .top-options {
            float: left !important;

            li {
              float: right;
            }
          }
        }
      }
    }
  }
}
