/**
 *
 * Tour Edit Style
 *
 */
 .tours-edit {

   /*----------- Tour Edit Header -----------*/

   .edit-tour-header {

   }

   /*----------- Tour Edit Content -----------*/

   .edit-tour-content {

     .row {
       margin-bottom: 0;

       /*----------- Day -----------*/

       .day {

         /*----------- Day Itinerary -----------*/

         .itinerary {
           padding: $card-padding;
           border-top: 1px solid $divider-color;

           /*----------- Itinerary Header -----------*/

           .itinerary-header {
             margin-bottom: 0;

             .itinerary-title,
             .itinerary-overview {
               height: 38px;
               padding: 0;
             }

             .itinerary-title {
               display: inline-block;

               h5 {
                 &.uppercase {
                   font-size: 1rem;
                   display: inline-block;
                 }
               }
             }

             .itinerary-overview {
               display: inline-block;

               i.tooltip {
                 margin-top: 7px;
               }

               .progress {
                 background-color: $divider-color;
                 top: 9px;
                 width: 35%;

                 .determinate {
                   width: 70%;
                   background-color: $accent-color;
                 }
               }
             }
           }

           /*----------- Itinerary Content -----------*/

           .itinerary-content {
             display: block;
             position: relative;
             overflow: hidden;
             width: 100%;

             ul {
               &.itinerary-points {
                 border: 0;
                 display: inline-block;
                 overflow: initial;
                 white-space: nowrap;

                 li {
                   display: inline-block;
                   div {
                     display: inline-block;
                     text-overflow: ellipsis;
                     vertical-align: middle;

                     &.item-poi {
                       min-height: 63px;

                       .title {
                         font-size: 14px;
                         font-weight: 500;
                       }

                       p {
                         font-size: 12px;
                        margin-top: -5px;
                       }
                     }

                     &.item-route {
                       position: relative;
                       white-space: normal;

                       i.icon {
                         background-color: $text-icons;
                         border-radius: 50%;
                         display: block;
                         height: 30px;
                         line-height: 30px;
                         margin: 0 $col-margin;
                         text-align: center;
                         width: 30px;
                       }

                       p.time {
                         display: block;
                         font-size: 10px;
                         margin: 35px 0 0;
                       }
                     }
                   }
                 }
               }
             }

             .mCSB_scrollTools_horizontal {
               margin: 0;
             }
           }
         }
       }
     }
   }
 }
