// =============================================================================
// SPACING
// =============================================================================

/**
 * Col-Margin
 */
$col-margin: 15px;
$row-margin: 5px 0;
/**
 * Padding
 */
$col-padding: .75rem;
$padding-small: 10px;
$padding-medium: 20px;
$card-padding: 10px 20px;

// =============================================================================
// COLORS
// =============================================================================

/**
 * Template
 */
$accent-color: #8BC34A;
$primary-color: #607D8B;
$primary-color-dark: #455A64;
$primary-color-light: #CFD8DC;

/**
 * Font
 */
$text-icons: #fff;
$primary-text-color: #212121;
$secondary-text-color: #727272;

/**
 * Dividers
 */
$divider-color: #b6b6b6;

/**
 * Block Comment
 */
$border-color: #e0e0e0;

/**
 * Notifications
 */
$success: #388e3c;
$error: #c62828;
$warning: #f9a825;
$info: #1565c0;

// =============================================================================
// WIDTH
// =============================================================================

/*
 * Aside
 */
$aside-width: 240px;

// =============================================================================
// HEIGHT
// =============================================================================

/*
 * Nav-Icon
 */
$nav-icon: 63px;

/*
 * Topbar
 */
$topbar-mini-height: 56px;
$topbar-default-height: 64px;

// =============================================================================
// RERSPONSIVE BREAK POINTs
// =============================================================================
$breakpoints: (
  'phone': 320px,
  'mobile': 600px,
  'tablet': 768px,
  'desktop': 992px,
  'laptop': 1366px,
  'ultrabook': 1600px
) !default;
