<!DOCTYPE html>
<div ng-controller="campaignCtrl">
<div class="campaign">
    <h3> Add Campaign </h3>
    <form class="col s12">
            <div class="input-field col s6">
              <input placeholder="First Name" id="fname" type="text" class="validate">
            </div>
            <div class="input-field col s6">
              <input placeholder="Last Name" id="lname" type="text" class="validate">
            </div>
            <div class="input-field col s6">
              <div class="input-field col s6">
                <input placeholder="Unique Identifier" id="uid" type="text" class="validate">
              </div>
              <input placeholder="Email" id="email" type="text" class="validate">
            </div>
            <div class="input-field col s6">
              <input placeholder="Telephone" id="tel" type="text" class="validate">
            </div>
          </form>

    <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Gender</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
    </select>
    <label>Gender</label>
  </div>
<p>.</p>
   <h6>Date of birth</h6>
    <input type="date" class="datepicker" > <!--link them somehow to look nice!-->

        <form>
          <label>Living Area</label> <!--daca nu este locatia sa o adaugi, ca in poza -->
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>

          </form>
          <img src="https://s4.postimg.org/epqwy711p/Capture.png">
    <button type="button" class="btn" no-ink="true">Submit</button> <!--color!!!-->
</div>
</div>
