
<div ng-controller="addNew">
<div >
    <h3> Add Person </h3>
    <form class="col s12">
            <div class="input-field col s6">
              <input placeholder="First Name" id="fname" type="text" class="validate" data-ng-model="add.firstName">
            </div>
            <div class="input-field col s6">
              <input placeholder="Last Name" id="lname" type="text" class="validate" data-ng-model="add.lastName">
            </div>
            <div class="input-field col s6">
              <div class="input-field col s6">
                <input placeholder="Unique Identifier" id="uid" type="text" class="validate" data-ng-model="add.uniqueIdentifier">
              </div>
              <input placeholder="Email" id="email" type="text" class="validate" data-ng-model="add.email">
            </div>
            <div class="input-field col s6">
              <input placeholder="Telephone" id="tel" type="text" class="validate" data-ng-model="add.telephone">
              </div>
            <button type="submit" class="btn btn-default" no-ink="true">Log In</button>
          </form>

   <!-- <h6>Date of birth</h6>
    <input type="date" class="datepicker" > <!--link them somehow to look nice!-->
</div>
</div>
