
<div ng-controller="addNewPersonController">
  <style>
    #test1:{
      display:inline-block;margin-right:10px;
    }
    #test2: {
      display:inline-block;
    }
  </style>
      <form data-ng-submit="submit()" class="col s12">
    <h3> New Person </h3>

            <div class="input-field col s6">
            <label> First Name </label>
            <input id="fname" type="text" data-ng-model="firstName" class="validate">
            </div>
            <div class="input-field col s6">
            <label> Last Name </label>
            <input id="lname" type="text" data-ng-model="lastName" class="validate">
            </div>
            <div class="input-field col s6">
            <label> Unique Identifier </label>
            <input id="uid" type="text" data-ng-model="uniqueIdentifier" class="validate">
            </div>

            <div class="input-field col s6">
            <label> Date of Birth </label>
            <input type="date" class="datepicker" >
          </div>
          <!-- <form data-ng-model="add.gender">
                  <label>Gender:</label>
    <p>
      <input name="gender" type="radio" id="male" />
      <label for="male">Male</label>
    </p>
    <p>
      <input name="gender" type="radio" id="female" />
      <label for="male">Female</label>
    </p>
  </form>-->

  <div class="input-field col s6">
  <label> Country </label>
  <input id="country" type="text" data-ng-model="adda.country" class="validate">
  </div>
  <div class="input-field col s6">
  <label> Region </label>
  <input id="region" type="text" data-ng-model="adda.region" class="validate">
  </div>
  <div class="input-field col s6">
  <label> Town </label>
  <input id="town" type="text" data-ng-model="adda.town" class="validate">
  </div>
  <div class="input-field col s6">
  <label> Street </label>
  <input id="street" type="text" data-ng-model="adda.street" class="validate">
  </div>


    <div class="input-field col s6">
    <label> Email </label>
    <input id="email" type="email" data-ng-model="email" class="validate">
    </div>
    <div class="input-field col s6">
    <label> Telephone </label>
    <input id="tel" type="text" data-ng-model="telephone" class="validate">
    </div>

          <button type="submit" class="btn btn-default" no-ink="true">Create</button>
  </form>
</div>
