 <ul id="slide-out" class="side-nav">
    <li>
      <div class="userView">
      <img class="background" src="http://feelgrafix.com/data/background/background-7.jpg">
      <a href="#!user"><img class="circle" src="http://media-cache-ec0.pinimg.com/236x/32/ce/1a/32ce1a0f5a6025e3ef72692bdc5f3679.jpg"></a>
      <a href="#!name"><span class="white-text name">{{name}}</span></a>
      <a href="#!email"><span class="white-text email">{{email}}</span></a>
    </div>
    </li>
     <li><a href="/#/person/settings"><i class="material-icons">settings</i>Account Settings</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/#/campaign/alivedetail"><i class="material-icons">assignment</i>Active Campaign</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/#/campaign/list"><i class="material-icons">assessments</i>All Campaigns</a></li>>
  </ul>
  <!--  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>-->
