 <ul id="slide-out" class="side-nav fixed">
    <li>
      <div class="userView">
      <img class="background" src="http://materializecss.com/images/office.jpg">
      <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
    </li>
     <li><a href="/#/settings"><i class="material-icons">settings</i>Account Settings</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/#/alivecampaigndetail"><i class="material-icons">assignment</i>Active Campaign</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/#/listcampaigns"><i class="material-icons">assessments</i>All Campaigns</a></li>>
  </ul>
  <!--  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>-->
