<nav>
    <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
            <li ui-sref-active="active"><a data-ui-sref="layout.home">Home</a></li>
            <li><a data-ui-sref="layout.festival">Festival</a></li>
            <li><a data-ui-sref="layout.program">Program</a></li>
            <li><a data-ui-sref="layout.accommodation">Accommodation</a></li>
            <li><a data-ui-sref="layout.tickets">Tickets</a></li>
            <li><a data-ui-sref="layout.news">News</a></li>
            <li><a data-ui-sref="layout.media">Media</a></li>
            <li><a data-ui-sref="layout.info">Info</a></li>
        </ul>
    </div>
</nav>
