<div class="tours">
    <div class="row">
        <div class="col s9">
            <ul class="card-panel collection with-header collection-list">
                <li class="collection-header clearfix">
                    <i class="material-icons menu-icon left nav-icon">menu</i>
                    <h4 class="left list-header">Tours</h4>
                    <div class="right">
                        <i class="material-icons nav-icon">search</i>
                        <i class="material-icons nav-icon">filter_list</i>
                        <i class="material-icons n-icon">add</i>
                    </div>
                </li>
                <li class="collection-item avatar">
                    <img data-ng-src="assets/image/insert-image.jpg" alt="" class="circle">
                    <span class="title">Transylvania tour</span>
                    <p class="description">3 days, 13 pois, 99 trips</p>
                    <a href="" data-ng-click="toursVM.editTour(5)" class="secondary-content">
                        <i class="material-icons icon more-icon">more_vert</i>
                    </a>
                </li>
                <li class="collection-item avatar">
                    <img data-ng-src="assets/image/insert-image.jpg" alt="" class="circle">
                    <span class="title">Carpathian tour - <span class="uppercase">featured</span></span>
                    <p class="description">3 days, 8 pois, 62 trips</p>
                    <a href="" data-ng-click="toursVM.editTour(5)" class="secondary-content">
                        <i class="material-icons icon more-icon">more_vert</i>
                    </a>
                </li>
                <li class="collection-item avatar">
                    <img data-ng-src="assets/image/insert-image.jpg" alt="" class="circle">
                    <span class="title">Sample tour</span>
                    <p class="description">1 days, 3 pois, 17 trips</p>
                    <a href="" data-ng-click="toursVM.editTour(5)" class="secondary-content">
                        <i class="material-icons icon more-icon">more_vert</i>
                    </a>
                </li>
                <li class="collection-item avatar">
                    <img data-ng-src="assets/image/insert-image.jpg" alt="" class="circle">
                    <span class="title">Sample tour</span>
                    <p class="description">1 days, 3 pois, 17 trips</p>
                    <a href="" data-ng-click="toursVM.editTour(5)" class="secondary-content">
                        <i class="material-icons icon more-icon">more_vert</i>
                    </a>
                </li>
                <li class="collection-item avatar">
                    <img data-ng-src="assets/image/insert-image.jpg" alt="" class="circle">
                    <span class="title">Sample tour</span>
                    <p class="description">1 days, 3 pois, 17 trips</p>
                    <a href="" data-ng-click="toursVM.editTour(5)" class="secondary-content">
                        <i class="material-icons icon more-icon">more_vert</i>
                    </a>
                </li>
                <li class="collection-item avatar">
                    <img data-ng-src="assets/image/insert-image.jpg" alt="" class="circle">
                    <span class="title">Sample tour</span>
                    <p class="description">1 days, 3 pois, 17 trips</p>
                    <a href="" data-ng-click="toursVM.editTour(5)" class="secondary-content">
                        <i class="material-icons icon more-icon">more_vert</i>
                    </a>
                </li>
                <li class="collection-item avatar">
                    <img data-ng-src="assets/image/insert-image.jpg" alt="" class="circle">
                    <span class="title">Sample tour</span>
                    <p class="description">1 days, 3 pois, 17 trips</p>
                    <a href="" data-ng-click="toursVM.editTour(5)" class="secondary-content">
                        <i class="material-icons icon more-icon">more_vert</i>
                    </a>
                </li>
                <li class="collection-item avatar">
                    <img data-ng-src="assets/image/insert-image.jpg" alt="" class="circle">
                    <span class="title">Sample tour</span>
                    <p class="description">1 days, 3 pois, 17 trips</p>
                    <a href="" data-ng-click="toursVM.editTour(5)" class="secondary-content">
                        <i class="material-icons icon more-icon">more_vert</i>
                    </a>
                </li>
                <li class="collection-item avatar">
                    <img data-ng-src="assets/image/insert-image.jpg" alt="" class="circle">
                    <span class="title">Sample tour</span>
                    <p class="description">1 days, 3 pois, 17 trips</p>
                    <a href="" data-ng-click="toursVM.editTour(5)" class="secondary-content">
                        <i class="material-icons icon more-icon">more_vert</i>
                    </a>
                </li>
                <li class="collection-item avatar">
                    <img data-ng-src="assets/image/insert-image.jpg" alt="" class="circle">
                    <span class="title">Sample tour</span>
                    <p class="description">1 days, 3 pois, 17 trips</p>
                    <a href="" data-ng-click="toursVM.editTour(5)" class="secondary-content">
                        <i class="material-icons icon more-icon">more_vert</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col s3">
            <div class="card-panel featured-tour">
                <p class="uppercase">featured tour</p>
                <span>Carpathian tour</span>
                <a href="#featuredTour" class="secondary-content modal-trigger">
                    <i class="material-icons right icon">mode_edit</i>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card-panel counter-panel clearfix">
                <i class="material-icons icon">public</i>
                <div class="right">
                    <strong class="text-color dark">71</strong>
                    <span>Tours</span>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card-panel top-tours">
                <p class="uppercase">top tours</p>
                <ul>
                    <li>
                        <span>Transylvania tour<span>
                        <div class="right">
                            <span>99</span>
                        </div>
                    </li>
                    <li>
                        <span>Carpathian tour<span>
                        <div class="right">
                            <span>62</span>
                        </div>
                    </li>
                    <li>
                        <span>Smaple trip<span>
                        <div class="right">
                            <span>23</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Edit Featured Tour -->
    <div id="featuredTour" class="modal">
        <div class="modal-header primary-color light">
            <h4 class="text-color dark">Featured tour</h4>
        </div>
        <div class="modal-content" data-ng-include="'views/modules/tours/modals/featuredTour.html'"></div>
        <div class="modal-footer">
            <a href="" class=" modal-action modal-close btn-flat uppercase">confirm</a>
            <a href="" class=" modal-action modal-close btn-flat uppercase">cancel</a>
        </div>
    </div>
</div>
