<!DOCTYPE html>
<div ng-controller="caddNewController">

<div class="campaign">
    <h3> New Campaign </h3>
    <form data-ng-submit="submit()" class="col s12">
            <div class="input-field col s6">
            <label> Campaign Name </label>
            <input id="name" type="text" data-ng-model="add.name" class="validate">
            </div>
            <div class="input-field col s6">
            <label> Question </label>
            <input id="question" type="text" data-ng-model="add.question" class="validate">
            </div>
            <div class="input-field col s6">
            <label> Start Date </label>
            <input type="date" class="datepicker" data-ng-model="add.startDate">
            </div>
            <div class="input-field col s6">
            <label> Duration (hours) </label>
            <input id="duration" type="text" data-ng-model="add.duration" class="validate">
            </div>
            <p>
     <input type="checkbox" id="test5" data-ng-model="adde.requiresMaturity" />
     <label for="test5">Require Maturity</label>
   </p>
   <p>
     <input type="checkbox" id="test6" data-ng-model="adde.requiresLocation"/>
     <label for="test6">Require Location</label>
   </p>
            <button type="submit" class="btn btn-default" no-ink="true">Create</button>
    </form>

</div>
</div>
