<!DOCTYPE html>
<div ng-controller="campaignCtrl">

<div class="campaign">
    <h3> Add Campaign </h3>
    <form class="col s12">
            <div class="input-field col s6">
              <input placeholder="Name" id="name" type="text" class="validate">
            </div>
            <div class="input-field col s6">
              <input placeholder="Question" id="question" type="text" class="validate">
            </div>
          </form>
    <h6> Start Date </h6>
<input type="date" class="datepicker" >
    <form class="col s12">
            <div class="input-field col s6">
              <input placeholder="Duration" id="duration" type="text" class="validate">
            </div>

          </form>
    <button type="button" class="btn btn-default" no-ink="true">Submit</button>
</div>
</div>
