<form data-ng-submit="submit()">
<h4>{{campaign1.name}}</h4>
<p>These are all the persons in your database. Choose the ones you'd like to have as candidates for this campaign!</p>

<!--<div class="row">
   <div class="col s12">
     <div class="row">
       <div class="input-field col s12">
         <input style="width: 25%" type="text" id="autocomplete-input" class="autocomplete"> <a class="btn-floating btn-large waves-effect waves-light vompi-main" type="submit"><i class="material-icons">add</i></a>
         <label for="autocomplete-input">Candidates</label>
       </div>
     </div>
   </div>
 </div> -->
 <ul class="collection with-header">
         <li ng-repeat="x in persons" class="collection-item" data-ng-model="add.firstName">
           <div>{{x.firstName}} {{x.lastName}}
             <a ng-if="cont(x.uniqueIdentifier)" data-target="modal1" ng-click="openModal($event, x, campaign)" class="secondary-content"><i class="material-icons">add</i></a>
           </div>

         </li>
       </ul>


       <!-- <div id="modal1" class="modal">
           <div class="modal-content">
             <div class="input-field col s6">
                       <input id="last_name" type="text" class="validate" data-ng-model="addyy.party">
                       <label for="last_name">Party</label>
                     </div>
                   </div>
           <div class="modal-footer">
             <a ng-click="assign(x._id);" class=" modal-action modal-close waves-effect waves-green btn-flat">Create</a>
           </div>
         </div> -->
    </form>
