<div ng-controller="clistController">

  <body>

<div class="section scrollspy" id="work">
    <div class = "container">
      <h3>My Campaigns</h3>
  <ul >
    <li ng-repeat="x in campaigns">
    <!--we have to change color by the state of the campaign, add new row after every four campaigns-->
    <div class="row">
        <div class="col s12 m20 2 " >
         <!-- <div ng-if="{{x}} == 'Jani''">-->
         <div class="card">
            <div class="card-content">
<span class="card-title" id="dani1">{{x.name}}</span>
              <p id="p">{{x.question}}</p>
            </div>
            <div class="card-action">
            <a ng-if="x.isCreating == true" data-ng-click="startalive(x.name)" data-ui-sref ="layout.alivecampaigndetail({id:x.name})">Start now!</a>
              <a ng-if="x.isAlive == true && x.isCreating == false" data-ui-sref ="layout.alivecampaigndetail({id:x.name})">View Campaign</a>
              <a ng-if="x.isAlive == false && x.isCreating == false" data-ui-sref ="layout.finishedcampaigndetail({id:x.name})">View Campaign</a>
              <a ng-if="x.isAlive == true" data-ng-click="finishcamp(x.name)" data-ui-sref ="layout.finishedcampaigndetail({id:x.name})">Finish!</a>
              <a ng-if="x.isCreating == true" data-ui-sref ="layout.assigncandidate({id:x.name})">Edit</a>
              <div align = "right">
              <div ng-if="x.isAlive == true && x.isCreating == false">
              <p style = "color: green;">ALIVE NOW</p>
            </div>
            <div ng-if="x.isAlive == false && x.isCreating == false">
            <p style = "color: #c62828 ;">FINISHED</p>
          </div>
          <div ng-if="x.isCreating == true && x.isAlive == false">
          <p style = "color: #fbc02d;">CREATING</p></div>
        </div>
      </div>
            </div>
         </div>
       </div>

        </div>
    </li>
  </ul>

</div>
</div>
</div>
<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
   <a class="btn-floating btn-large vompi-main">
     <i class="large material-icons">add</i>
   </a>
   <ul>
     <li><a class="btn-floating vompi-main" data-ui-sref ="layout.addnewperson"><i class="material-icons">face</i></a></li>
     <li><a class="btn-floating yellow darken-1" data-ui-sref ="layout.addnewcampaign"><i class="material-icons">event</i></a></li>
   </ul>
 </div>
</body>

</div>
