<!--<style>
    li{
       display: inline;
       float: left;
        margin: 0;
    padding: 0;
       
    }
    ul{
        margin: 0;
        padding: 0;
        display: inline-flex;
        list-style-type:none;
    }
    </style>-->
    <!--<script>
         $(".button-collapse").sideNav();
        </script>-->
        <ul id="slide-out" class="side-nav fixed">
    <li>
      <div class="userView">
      <img class="background" src="http://materializecss.com/images/office.jpg">
      <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          

<div class="section scrollspy" id="work">
    <div class = "container">
<div ng-init="names=['Jani','Hege','Kai']">
  <ul >
    <li ng-repeat="x in names">
    <!--we have to change color by the state of the campaign, add new row after every four campaigns-->
    <div class="row">
        <div class="col s12 m20 2 " >
         <!-- <div ng-if="{{x}} == 'Jani''">-->
         <div class="card pink darken-4">
            <div class="card-content white-text">
              <span class="card-title" id="dani">{{x}}</span>
              <p id="p">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
         <!-- </div>-->
       </div>
           
        </div>
      </div>
    </li>
  </ul>
 
</div>
</div>
</div>


<!--<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
</head>
<body>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

</body>
</html>-->


