<!DOCTYPE html>
<div ng-controller="ploginController">
<style>
.center {
  margin: auto;
  width: 25%;
}
</style>



<form data-ng-submit="submit()">
      <div class="center">
        <h3>Welcome to <b>VOMPi</b>!</h3>
        <h5>Your credentials, please</h5>
  <div class="row">

      <div class="input-field col s12">
        <input id="uid" type="text" class="validate" data-ng-model="add.uniqueIdentifier">
        <label for="uid">Unique Identifier</label>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" data-ng-model="add.password">
          <label for="password">Password</label>
        </div>
    </div>

    <button type="submit" class="btn btn-vompi " no-ink="true">Log In</button>
    <h5 ng-if="showError">Bad credentials :(</h5>
  <!--  <h6>Don't have an account? Request one, <a href="/#/person/signup">HERE</a></h6>-->
    <h6><a href="/#/person/forgotpass">Having troubles logging in?</a></h6>
    <h6>Admin? <a href="/#/admin/login">THERE</a></h6>
    </div>
</form>

</div>
