<!DOCTYPE html>
<div ng-controller="loginCtrl">

<form id="myLogin">
  <div class="row">
      <div class="input-field col s12">
        <input id="rpass" type="password" class="validate">
        <label for="rpass">Password</label>
      </div>
  </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="rpass" type="password" class="validate">
          <label for="rpass">Repeat Password</label>
        </div>
    </div>
    <button type="button" class="btn btn-default" no-ink="true">Sign Up</button>
</form>

</div>
