// =============================================================================
// SPACING
// =============================================================================
/*
 * Col-Margin
 */
$col-margin: 15px;
$row-margin: 5px 0;
/*
 * Padding
 */
$col-padding: .75rem;
$card-padding: 10px 20px;

// =============================================================================
// COLORS
// =============================================================================

/*
 * Template
 */
$accent: #8BC34A;
$primary: #607D8B;
$primary-dark: #455A64;
$primary-light: #CFD8DC;

/*
 * Font
 */
$primary-text: #212121;
$secondary-text: #727272;
$text-icons: #FFFFFF;
$dividers: #B6B6B6;

/*
 * Notifications
 */
$success: #388e3c;
$error: #c62828;
$warning: #f9a825;
$info: #1565c0;

// =============================================================================
// WIDTH
// =============================================================================

/*
 * Aside
 */
$aside-width: 240px;

// =============================================================================
// HEIGHT
// =============================================================================

/*
 * Nav-Icon
 */
$nav-icon: 63px;

/*
 * Topbar
 */
$topbar-mini-height: 56px;
$topbar-default-height: 64px;

// =============================================================================
// RERSPONSIVE BREAK POINTs
// =============================================================================
$breakpoints: (
  'phone': 320px,
  'mobile': 600px,
  'tablet': 768px,
  'desktop': 992px,
  'laptop': 1366px,
  'ultrabook': 1600px
) !default;
